body {
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.grid div {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: silver;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    border: solid 8px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.score-container {
    display: flex;
    background-color: grey;
    justify-content: space-evenly;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#instructions {
    display:flex;
    flex-wrap: wrap;
    height: 60px;
    color: white;
    justify-content: center;
    align-items: center;
}